.calculator {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top: 50%;
    right: 35%;
}

input {
    width: 95px;
    margin-left: 8px;
}

select, button {
    margin-left: 8px;
}

.calculator .result_block {
    min-width: 95px;
    margin-left: 8px;
    
}

.list_output {
    position: absolute;
    top: 55%;
    right: 50%;
    margin-top: 10px;
}